// style.scss

// UTILITIES
@use './partials/utilities/variables';
@use './partials/utilities/mixins';
@use './partials/utilities/responsive';

// BASE
@use './partials/base/reset';
@use './partials/base/tipografia';

// COMPONENTS
@use './partials/componets/header';
@use './partials/componets/nav';
@use './partials/componets/buttons';
@use './partials/componets/footer';
@use './partials/componets/fermento';





