.fondo-home, .inicio-img, .sobremi-img, .fondo-recetas, .contacto-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    overflow: visible;
}

.fondo-home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url("../assets/forest-868715_1280.jpg") center/cover no-repeat fixed;
    height: 100vh;
}

.fondo-home .titulo-home {
    font-size: 2.8rem;
    background-color: rgba(255,255,255,0.85);
    color: #000;
    padding: 10px 25px;
    font-weight: 800;
    border-radius: 6px;
    margin-bottom: 40px;
}

.inicio-img  { background-image: url("../assets/20250210_190447.jpg"); }
.sobremi-img { background-image: url("../assets/20250213_181155.jpg"); }
.fondo-recetas { background-image: url("../assets/20250824_082934.jpg"); }
.contacto-img { background-image: url("../assets/20250609_110136.jpg"); }