.contacto-img .mi-overlay {
    background-color: rgba(0,0,0,0.85);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    margin: 100px auto;
    gap: 1rem;
}

.contacto-img .texto-contacto,
.contacto-img .formulario-contacto {
    flex: 1 1 45%;
    text-align: left;
}

.contacto-img .formulario-contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto-img .formulario-contacto input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 100%;
}

.contacto-img .formulario-contacto button {
    background-color: #f6b800;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
    width: 100%;
}

.contacto-img .formulario-contacto button:hover {
    background-color: #ffdc6c;
}