nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

nav li { display: inline-block; }

.a-nav {
    display: inline-block;
    background-color: black;
    color: white !important;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    transition: all 0.3s ease;
    margin: 5px;
}

.a-nav:hover { background-color: #f6b800; color: black !important; }

.a-nav.reservar {
    background-color: #f6b800;
    color: black !important;
    font-weight: 700;
}

.a-nav.reservar:hover {
    background-color: black;
    color: #f6b800 !important;
}