.mi-overlay {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mi-overlay h1, .mi-overlay h2, .mi-overlay h3 { margin: 10px 0; }