@use '../utilities/variables' as v;

.btn-warning {
    background-color: v.$color-resaltado;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    &:hover {
        background-color: v.$color-resaltado, 10%;
        transform: scale(1.05);
    }
}