@use '../utilities/variables' as v;

.receta-card {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    background-color: v.$color-blanco;
    h2 { color: v.$color-primario; }
    ul li { list-style: none; margin: 5px 0; }
}