/* CONTENEDOR GENERAL DE PAGES INTERNAS */
.fermento-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  background: #fff;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


/* TITULOS */
.fermento-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: hsl(27, 92%, 53%);
}

.fermento-container h2 {
  margin-bottom: 0.5rem;
}

/* TEXTO */
.fermento-container p {
  margin-bottom: 1rem;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: center;
}

/* GRID SOLO PARA RECETARIOS COMPLETOS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

/* CARDS */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* BOTONES */
.btn-fermento,
.card a {
  display: inline-block;
  margin-top: 1.5rem;
  background: hsl(27, 92%, 53%);
  color: #fff;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s ease;
}

.card a {
  margin-top: auto;
}

.btn-fermento:hover,
.card a:hover {
  background: #f3e957;
}

