header, .custom-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  box-sizing: border-box;
  z-index: 10;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(4px);
}

.nani-logo {
  width: 70px;
  height: auto;
}