@use '../utilities/variables' as v;
@use '../utilities/responsive' as r;

.custom-header {
    background-color: v.$color-blanco;
    .nani-logo {
        height: 50px;
        @include r.mobile { height: 40px; }
    }
}