@use '../utilities/variables' as v;

.a-nav {
    color: v.$color-texto;
    text-decoration: none;
    font-weight: 500;
    &:hover { color: v.$color-primario; }
    &.active { color: v.$color-primario; font-weight: 700; }
}