nav {
  display: flex;
  padding: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}


.a-nav {
  background-color: black;
  color: white !important;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  transition: 0.3s;
}

.a-nav:hover { background-color: #f6b800; color: black !important; }

.a-nav.reservar {
  background-color: #f6b800;
  color: black !important;
}

