@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}
h1 { font-size: 56px; }
p { font-size: medium; }
.footer-p { font-size: 12px; }
.quote { font-size: medium; }
.highlight { color: #f4c430; }