body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1 { font-size: 56px; }
p { font-size: medium; }
.footer-p { font-size: 12px; }
.quote { font-size: medium; }
.highlight { color: #f4c430; }