
@use '../utilities/variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  
  font-family: v.$fuente-principal;
  color: v.$color-texto;
  line-height: 1.6;
}

// TIPOGRAFÍA BÁSICA
h1 { 
  font-size: 56px; 
  font-weight: 800;
  
  font-family: v.$fuente-principal;
}

p { 
  font-size: 1rem; 
}

.highlight { 
  
  color: v.$color-resaltado; 
}